/**
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.icon-collectives {
	background-image: url('../img/collectives-dark.svg');
	filter: var(--background-invert-if-dark);
}

.icon-collectives-page {
	background-image: url('../img/page.svg');
	filter: var(--background-invert-if-dark);
}
