build/
node_modules/
vendor/

# Editor directories and files
.idea/
js/*

# PHPunit cache
.phpunit.result.cache

# PHP-CS-Fixer cache
.php-cs-fixer.cache

# Cypress test artifacts
cypress/screenshots/
cypress/videos/
