/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:root {
	--text-editor-max-width: 670px !important;
}

// TODO: can be removed once we only support Nextcloud 30+
.text-menubar {
	border-bottom: 1px solid var(--color-border);
	box-sizing: content-box !important;
}

.full-width-view {
	// Required for search dialog to stick to the bottom
	height: 100%;
	display: flex;
	flex-direction: column;

	--text-editor-max-width: false !important;
	max-width: unset;
}

.sheet-view {
	// Required for search dialog to stick to the bottom
	height: 100%;
	display: flex;
	flex-direction: column;

	--text-editor-max-width: 670px !important;

	.landing-page-widgets,
	.page-heading-skeleton,
	.page-content-skeleton {
		width: min(var(--text-editor-max-width), 100%);
		max-width: min(var(--text-editor-max-width), 100%);
		margin-inline: auto;
	}

	.text-container-heading {
		max-width: min(var(--text-editor-max-width), 100%);
		margin-inline: auto;
	}

	.page-title {
		max-width: 100%;
		margin: 0 0 0 max(0px, calc(50% - (var(--text-editor-max-width) / 2)));
	}

	// Editor document status bar
	.document-status {
		max-width: min(var(--text-editor-max-width), 100%);
		padding: 0 2px;
		margin: auto;
	}

	[data-collectives-el='editor'],
	[data-collectives-el='reader'] {
		max-width: unset;
		width: min(var(--text-editor-max-width), 100%);
		margin: auto;

		.text-menubar {
			max-width: min(var(--text-editor-max-width), 100%);
			margin: auto;
		}
	}
}

@media screen and (max-width: 669px) {
	.sheet-view {
		--text-editor-max-width: false !important;
		max-width: unset;
	}
}

.editor--outline {
	border-radius: var(--border-radius-large);
	box-shadow: 0 1px 10px var(--color-box-shadow);
	background-color: var(--color-main-background);
	z-index: 10021;
	// Margin of text editor inside text container
	--text-container-margin: calc((var(--text-container-width) - var(--text-editor-max-width)) / 2);
	// Move outline to the margin
	translate: clamp((300px + 4px) * -1, var(--text-container-margin) * -1, 0px);
}

@media print {
	.sheet-view {
		margin: unset !important;
	}

	.page-title, .document-status, .editor__content {
		margin: unset !important;
		max-width: unset !important;
		width: var(--text-editor-max-width);
	}
}
