name: Cypress

on: pull_request

concurrency:
  group: cypress-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Adjust APP_NAME if your repository name is different
  APP_NAME: ${{ github.event.repository.name }}
  CYPRESS_baseUrl: http://localhost:8081/index.php

jobs:
  changes:
    runs-on: ubuntu-latest-low

    outputs:
      src: ${{ steps.changes.outputs.src}}

    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        continue-on-error: true
        with:
          filters: |
            src:
              - '.github/workflows/**'
              - 'appinfo/**'
              - 'css/**'
              - 'lib/**'
              - 'skeleton/**'
              - 'src/**'
              - 'templates/**'
              - 'babel.config.js'
              - 'composer.json'
              - 'composer.lock'
              - 'cypress.config.js'
              - 'package.json'
              - 'package-lock.json'
              - 'tsconfig.json'
              - '**.js'
              - '**.ts'
              - '**.vue'

  init:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.src != 'false'

    outputs:
      nodeVersion: ${{ steps.versions.outputs.nodeVersion }}
      npmVersion: ${{ steps.versions.outputs.npmVersion }}

    strategy:
      matrix:
        server-versions: ['stable27', 'master']

    env:
      PUPPETEER_SKIP_DOWNLOAD: true

    steps:
      - name: Checkout server
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          submodules: true
          repository: nextcloud/server
          ref: ${{ matrix.server-versions }}

      - name: Checkout circles app
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: nextcloud/circles
          path: apps/circles
          ref: ${{ matrix.server-versions }}

      - name: Checkout files_pdfviewer app
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: nextcloud/files_pdfviewer
          path: apps/files_pdfviewer
          ref: ${{ matrix.server-versions }}

      - name: Register text Git reference
        run: |
          text_app_ref="$(if [ "${{ matrix.server-versions }}" = "master" ]; then echo -n "main"; else echo -n "${{ matrix.server-versions }}"; fi)"
          echo "text_app_ref=$text_app_ref" >> $GITHUB_ENV

      - name: Checkout text app
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: nextcloud/text
          path: apps/text
          ref: ${{ env.text_app_ref }}

      - name: Checkout viewer app
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: nextcloud/viewer
          path: apps/viewer
          ref: ${{ matrix.server-versions }}

      - name: Checkout app
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          path: apps/${{ env.APP_NAME }}

      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@06d6baf7d8f41934ab630e97d9e6c0bc9c9ac5e4 # v3
        id: versions
        with:
          fallbackNode: "^20"
          fallbackNpm: "^10"
          path: apps/${{ env.APP_NAME }}

      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          cache: 'npm'
          node-version: ${{ steps.versions.outputs.nodeVersion }}

      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g npm@"${{ steps.versions.outputs.npmVersion }}"

      - name: Install node dependencies & build app
        working-directory: apps/${{ env.APP_NAME }}
        run: |
          npm ci
          TESTING=true npm run build --if-present

      - name: Save context
        uses: buildjet/cache/save@e376f15c6ec6dc595375c78633174c7e5f92dc0e # v3
        with:
          key: cypress-context-${{ matrix.server-versions }}-${{ github.run_id }}
          path: ./

  cypress:
    runs-on: ubuntu-latest
    needs: [changes, init]
    if: needs.changes.outputs.src != 'false'

    strategy:
      fail-fast: false
      matrix:
        node-version: [20]
        containers: [1, 2, 3]
        php-versions: ['8.0', '8.2']
        databases: ['sqlite']
        server-versions: ['stable27', 'master']
        # Only use cypress cloud for PRs
        use-cypress-cloud:
          - ${{ vars.USE_CYPRESS_CLOUD && !!github.head_ref }}
        exclude:
          - php-versions: '8.0'
            server-versions: 'stable27'
          - php-versions: '8.0'
            server-versions: 'master'
        # Only use one container if we are not using the cypress cloud.
          - use-cypress-cloud: false
            containers: 2
          - use-cypress-cloud: false
            containers: 3

    name: runner ${{ matrix.containers }} (${{ matrix.server-versions }})

    steps:
      - name: Restore context
        uses: buildjet/cache/restore@e376f15c6ec6dc595375c78633174c7e5f92dc0e # v3
        with:
          fail-on-cache-miss: true
          key: cypress-context-${{ matrix.server-versions }}-${{ github.run_id }}
          path: ./

      - name: Set up node ${{ needs.init.outputs.nodeVersion }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ needs.init.outputs.nodeVersion }}

      - name: Set up npm ${{ needs.init.outputs.npmVersion }}
        run: npm i -g npm@"${{ needs.init.outputs.npmVersion }}"

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@fc14643b0a99ee9db10a3c025a33d76544fa3761 # v2
        with:
          php-version: ${{ matrix.php-versions }}
          # https://docs.nextcloud.com/server/stable/admin_manual/installation/source_installation.html#prerequisites-for-manual-installation
          extensions: bz2, ctype, curl, dom, fileinfo, gd, iconv, intl, json, libxml, mbstring, openssl, pcntl, posix, session, simplexml, xmlreader, xmlwriter, zip, zlib, sqlite, pdo_sqlite
          coverage: none
          ini-file: development
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install composer dependencies
        working-directory: apps/${{ env.APP_NAME }}
        run: composer i --no-dev

      - name: Set up Nextcloud
        env:
          DB_PORT: 4444
        run: |
          mkdir data
          ./occ maintenance:install --verbose --database=sqlite --database-name=nextcloud --database-host=127.0.0.1 --database-port=$DB_PORT --database-user=root --database-pass=rootpassword --admin-user admin --admin-pass admin
          ./occ config:system:set --value="http://localhost:8081" -- overwrite.cli.url
          ./occ app:enable --force contacts
          ./occ app:enable --force files_pdfviewer
          ./occ app:enable --force ${{ env.APP_NAME }}

      - name: Run Nextcloud
        run: php -S 0.0.0.0:8081 &
        env:
          PHP_CLI_SERVER_WORKERS: 3

      - name: Add Nextcloud users and a collective for full-text search
        run: |
          for user in alice bob jane john; do \
          OC_PASS="$user" ./occ user:add --password-from-env "$user"; \
          done
          ./occ group:add "Bobs Group"
          for user in bob jane; do \
          OC_PASS="$user" ./occ group:adduser "Bobs Group" "$user"; \
          done
          ./occ collectives:create SearchTest --owner=bob
          ./occ collectives:index

      - name: Run E2E cypress tests
        uses: cypress-io/github-action@8d3918616d8ac34caa2b49afc8b408b6a872a6f5 # v6.7.1
        with:
          record: '${{ !!matrix.use-cypress-cloud }}'
          parallel: '${{ !!matrix.use-cypress-cloud }}'
          group: "${{ !!matrix.use-cypress-cloud && format('Nextcloud {0}',  matrix.server-versions) || '' }}"
          wait-on: '${{ env.CYPRESS_baseUrl }}'
          working-directory: apps/${{ env.APP_NAME }}
          config: video=false,defaultCommandTimeout=20000
          tag: "${{ !!matrix.use-cypress-cloud && github.event_name || '' }}"
        env:
          # https://github.com/cypress-io/github-action/issues/124
          COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
          COMMIT_INFO_SHA:  ${{ github.event.pull_request.head.sha }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_ncVersion: ${{ matrix.server-versions }}

      - name: Upload snapshots
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        if: failure()
        with:
          name: Screenshots.${{ matrix.server-versions }}-${{ matrix.containers }}
          path: apps/${{ env.APP_NAME }}/cypress/screenshots/
          retention-days: 5

      - name: Upload NC logs
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        if: always()
        with:
          name: ${{ matrix.server-versions }}-${{ matrix.containers }}.log
          path: data/nextcloud.log
          retention-days: 5

  summary:
    runs-on: ubuntu-latest-low
    needs: [changes, init, cypress]

    if: always()

    name: cypress-summary

    steps:
      - name: Summary status
        run: if ${{ needs.changes.outputs.src != 'false' && (needs.init.result != 'success' || ( needs.cypress.result != 'success' && needs.cypress.result != 'skipped' )) }}; then exit 1; fi
