# This workflow is provided via the organization template repository
#
# https://github.com/nextcloud/.github
# https://docs.github.com/en/actions/learn-github-actions/sharing-workflows-with-your-organization
#
# SPDX-FileCopyrightText: 2022-2025 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT

name: Static analysis of migrations with latest release

on: pull_request

concurrency:
  group: psalm-migrations-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  APP_NAME: ${{ github.event.repository.name }}
  BRANCH: ${{ github.head_ref || github.ref_name }}

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    name: static-psalm-analysis-migrations
    steps:
      - name: Get collectives app from app store
        id: collectives_app
        uses: nextcloud/appstore-action@facdd26645c34b31d2b58ddc658d7012299d2a14 # v1.0.0
        with:
          appid: collectives

      - name: Checkout release tag
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: 'v${{ steps.collectives_app.outputs.version }}'
          persist-credentials: false

      - name: Checkout migrations from main branch
        run: |
          git fetch origin ${{ env.BRANCH }}
          git checkout origin/${{ env.BRANCH }} -- lib/Migration

      - name: Get php version
        id: versions
        uses: icewind1991/nextcloud-version-matrix@58becf3b4bb6dc6cef677b15e2fd8e7d48c0908f # v1.3.1

      - name: Check enforcement of minimum PHP version ${{ steps.versions.outputs.php-min }} in psalm.xml
        run: grep 'phpVersion="${{ steps.versions.outputs.php-min }}' psalm.xml

      - name: Set up php${{ steps.versions.outputs.php-available }}
        uses: shivammathur/setup-php@ec406be512d7077f68eed36e63f4d91bc006edc4 # v2.35.4
        with:
          php-version: ${{ steps.versions.outputs.php-available }}
          extensions: bz2, ctype, curl, dom, fileinfo, gd, iconv, intl, json, libxml, mbstring, openssl, pcntl, posix, session, simplexml, xmlreader, xmlwriter, zip, zlib, sqlite, pdo_sqlite
          coverage: none
          ini-file: development
          # Temporary workaround for missing pcntl_* in PHP 8.3
          ini-values: disable_functions=
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          composer remove nextcloud/ocp --dev
          composer i

      - name: Install nextcloud/ocp
        run: composer require --dev nextcloud/ocp:dev-${{ steps.versions.outputs.branches-max }} --ignore-platform-reqs --with-dependencies

      - name: Run coding standards check
        run: composer run psalm -- --threads=1 --monochrome --no-progress --output-format=github
